:root {
    --main-note-color:#f8dfc2;
    --add-theme-color:#013ca6;
    --main-font: 'Podkova';
}
hr#title-line {
    width: 165px;
    color:black;
}
#title {
    font-family: var(--main-font);
    font-size: larger;
    color:grey;
    padding: 3px 8px;
   
}

.note{
    margin-right:8px;
    font-family: var(--main-font);
    height:170px;
    display: block;
    border-radius: 5%;
    border: 2px solid grey;
    padding: 10px;
    background-color:var(--main-note-color);
}

input#editNote {    
    float:right;
    display: block;
    width:80px;
    position: relative;
}
.note-content {
    display: block;
    word-wrap: break-word;
    width: 150px;
    background-color: var(--main-note-color);
    height: 100px;
    border-radius: 3%;
    white-space: normal;
    padding:5px;
}

li {
    width:200px;
    list-style-type: none;    
    display: inline-block;
}
ul {
    padding:0;
    list-style-type: none;
}
input[name="delete"] {
    display:block;
    background-image: url('images/cross.png');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    width:10px;
    height:25px;
    float:right;
    border:1px solid var(--add-theme-color);
}
input[name="edit"] {
    display:block;
    background-image: url('images/edit.png');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    width:20px;
    height:25px;
    float:right;
    border:1px solid var(--add-theme-color);
}
ш
input[name="edit"]:focus {
    border: 3px solid var(--add-theme-color);
  }
  input[name="delete"]:focus {
    border: 3px solid var(--add-theme-color);
  }
  body {
      text-align: center;
  }
  
