.note-settings{
    margin-right:8px;
    height:140px;
    border: 2px solid grey;
    background-color: #fff5d9;
}
.note {
    word-wrap: break-word;
    width: 100px;
    background-color: #fff5d9;
    height: 100px;
    border-radius: 3%;
    white-space: normal;
    padding:5px;
    /*position: relative;*/
}

li {
    width:160px;
    list-style-type: none;    
    display: inline-block;
}
ul {
    padding:0;
    list-style-type: none;
}
input[name="delete"] {
    display:block;
    background-image: url('images/cross.png');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    width:10px;
    height:25px;
    float:right;
    border:1px solid orangered;
}
input[name="edit"] {
    display:block;
    background-image: url('images/edit.png');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    width:20px;
    height:25px;
    float:right;
    border:1px solid rgb(221, 197, 153);
}
input[name="edit"]:focus {
    border: 3px solid rgb(145, 145, 145);
  }
  input[name="delete"]:focus {
    border: 3px solid rgb(145, 145, 145);
  }
  
  #editNote {    
      float: right;
      display: block;
      width:60px;
      position: relative;
  }