:root {
    --main-note-color:#f8dfc2;
    --add-theme-color:#013ca6;
    --main-font: 'Podkova';
}

body {
    text-align:center;
}

hr#title-line {
    width: 165px;
    background-color: grey;
    border: none;
    height:1px;
}
#title {
    font-family: var(--main-font);
    font-size: larger;
    color:grey;
    padding: 3px 8px;
}

.primary {
    cursor: pointer;
    border: none;

    font-family:var(--main-font);
    background-color: var(--add-theme-color);
    color:white;

    padding: 10px 18px;
    
  }
.note{
    height:170px;
    display: block;
    margin-right:8px;
    padding: 10px;
    
    font-family: var(--main-font);

    border-radius: 5%;
    border: 2px solid grey;

    background-color:var(--main-note-color);
}

input#editNote {    
    float:right;
    display: block;
    width:80px;
    position: relative;
}
.note-content {
    display: block;
    padding:5px;
    word-wrap: break-word;
    width: 150px;
    height: 100px;

    background-color: var(--main-note-color);
    border-radius: 3%;
    white-space: normal;

}

li {
    width:200px;
    list-style-type: none;    
    display: inline-block;
}
ul {
    padding:0;
    list-style-type: none;
}
input[name="delete"] {
    display:block;
    width:10px;
    height:25px;
    float:right;

    border: none;
    background-color: transparent;
    background-image: url('images/close.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.5;
   
}
input[name="edit"] {
    display:block;
    width:20px;
    height:25px;
    float:right;
    border: none;

    background-color: transparent;
    background-image: url('images/edit.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}
input[name='edit']:hover {
    cursor: pointer;
}
input[name='delete']:hover {
    cursor: pointer;
}
input[name="edit"]:focus {
    border:3px solid var(--add-theme-color);
}
input[name="delete"]:focus {
    border:3px solid var(--add-theme-color);
}

