:root {
    --main-theme-color:#a5a9ab;
    --add-theme-color:#013ca6;
    --main-font: 'Podkova';
}
hr {
    width: 250px;
}
#signup-btn.primary {
    font-family:var(--main-font);
    background-color: var(--add-theme-color);
    padding: 6px 14px;
    color:white;
}
.primary {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
    font-family:var(--main-font);
    background-color: var(--add-theme-color);
    padding: 10px 18px;
    color:white;
}
input.signup {
    font-family: var(--main-font);
    font-size: large;
    width: 250px;
    height: 30px;
    padding: 6px 14px;
    margin-bottom: 15px;
    border-radius: 5%;
    margin: 13px;
}
input.signup:focus {
    box-shadow: 2px 2px 
    4px -2px var(--add-theme-color); 
}
#signup-btn {
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
    font-family:var(--main-font);
    background-color: var(--main-theme-color);
    padding: 6px 14px;
    width:285px;
    height:40px;
    border-radius: 3%;
    font-size: 18px;
    box-shadow: 2px 2px 
    4px -2px var(--main-theme-color);
}
#signup-btn:hover {
    cursor: pointer;
    background-color: rgb(1,20,166);
}
ul.nav {
}
ul.nav li {

    background-color:var(--add-theme-color);
    font-family:var(--main-font);
    height:30px;
    width: 50%;
    font-size: larger;
    text-align: center;
    padding: 10px 0px;
}

.link {
    text-decoration: none;
    color:white;
}
ul.nav li:hover {
    background-color:grey;
}
#form-registration {
    background-color: white;
    font-family: var(--main-font);
    margin: 50px auto 0 auto;
    box-shadow: 12px 14px 21px -4px rgba(1,60,166,0.65);
    width: 350px;
    height:440px;
    border: 2px solid var(--main-theme-color);
    text-align: center;
    border-radius: 2%;
}
#form-header {

    font-size: x-large;
    font-weight: 500;
}
