.note {
    width: 100px;
    border: 2px solid grey;
    background-color: #fff5d9;
    height: 100px;
    border-radius: 3%;
    margin-right:8px;
    padding:5px;
}
li {
    list-style-type: none;
    display: inline-block;
}
ul {
    padding:0;
    list-style-type: none;
}
